<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="logo">
          <img src= "{{ "/images/flutter-mark-square-100.png" | prepend: site.cdn }}" width="100" height="100">
        </div>
          <p class="site-footer__link-list hidden-xs">
            <a href="https://groups.google.com/forum/#!forum/flutter-dev">{{ site.email_name }}</a> &bull;
            <a href="https://twitter.com/flutterio">twitter</a> &bull;
            <a href="https://github.com/flutter/">github</a> &bull;
            <a href="/tos">terms</a> &bull;
            <a href="https://www.google.com/intl/en/policies/privacy/">privacy</a>
          </p>
          <p class="footer-links">
            <a href="/about">关于本站</a>
            <a href="/about">加入我们</a>
            <a href="/app/gm.html">Gitme</a>
            <a href="http://www.dartdoc.cn/">Dart中文网</a>
            <a href="/about">Flutter中文网开源计划</a>
            <a href="https://juejin.im/user/58211b88a0bb9f0058c25b7f/posts">译者博客</a>|
            <a href="https://juejin.im/user/58211b88a0bb9f0058c25b7f/posts">Github</a>
          </p>
          <div>
            京ICP备14014371号-3
          </div>
      </div>
    </div>
  </div>
</footer>
