<ul id="mysidebar" class="nav">

  <li class="sidebar-title">起步</li>

    <ul class="sidebar-items">
      <li><a href="/get-started/install/">1: 安装</a></li>
      <li><a href="/get-started/editor/">2: 配置编辑器</a></li>
      <li><a href="/get-started/test-drive/">3: 体验Flutter </a></li>
      <li><a href="/get-started/codelab/">4: 编写第一个Flutter应用</a></li>
      <li><a href="/get-started/learn-more/">5: 了解更多</a></li>
    </ul>

  <li class="sidebar-title">构建用户界面</li>

    <ul class="sidebar-items">
      <li><a href="/widgets-intro/">Widget 框架总览</a></li>
      <li><a href="/widgets/">Widget 目录</a></li>
      <li><a href="/cookbook/">Cookbook</a></li>
      <li><a href="/catalog/samples/">示例目录</a></li>
      <li><a href="/tutorials/layout/">构建布局 - 教程</a></li>
      <li><a href="/tutorials/interactive/">添加交互- 教程</a></li>
      <li><a href="/web-analogs/">Flutter for Web开发者</a></li>
      <li><a href="/flutter-for-android/">Flutter for Android 开发者</a></li>
      <li><a href="/flutter-for-ios/">Flutter for iOS 开发者</a></li>
      <li><a href="/flutter-for-react-native/">Flutter for React Native 开发者</a></li>
      <!--<li><a href="/flutter-for-react-native/">Flutter for React Native 开发者</a></li>-->
      <li><a href="/gestures/">手势</a></li>
      <li><a href="/animations/">动画</a></li>
      <li><a href="/custom-fonts/">自定义字体</a></li>
      <li><a href="/layout/">盒约束</a></li>
      <li><a href="/assets-and-images/">资源和图片</a></li>
      <li><a href="/text-input/">文本输入</a></li>
      <li><a href="/routing-and-navigation/">路由和导航</a></li>
      <li><a href="/tutorials/internationalization">国际化（多语言支持）</a></li>
    </ul>

  <li class="sidebar-title">使用设备和SDK API</li>

    <ul class="sidebar-items">
      <li><a href="/using-packages/">使用packages</a></li>
      <li><a href="/developing-packages/">开发packages</a></li>
      <li><a href="/platform-channels/">平台特定的代码</a></li>
      <li><a href="/reading-writing-files/">文件读写</a></li>
      <li><a href="/networking/">网络和Http</a></li>
      <li><a href="/json/">JSON和序列化</a></li>
    </ul>

  <li class="sidebar-title">开发和工具</li>

    <ul class="sidebar-items">
      <li><a href="/using-ide/">使用Flutter IDE</a></li>
      <li><a href="/hot-reload/">使用热重载</a></li>
      <li><a href="/testing/">测试应用</a></li>
      <li><a href="/debugging/">调试应用</a></li>
      <li><a href="/inspector/">检查(Inspect)用户界面</a></li>
      <li><a href="/android-release/">Android构建发布</a></li>
      <li><a href="/ios-release/">IOS构建发布</a></li>
      <li><a href="/upgrading/">升级安装的Flutter</a></li>
      <li><a href="/formatting/">格式化代码</a></li>
    </ul>

  <li class="sidebar-title">更多细节</li>

    <ul class="sidebar-items">
      <li><a href="/faq/">FAQ</a></li>
      <li><a href="/technical-overview">Flutter框架总览</a></li>
    </ul>
  <li class="sidebar-title">站外内容 <sup style="font-size: 13px; color: #000"> 需翻墙</sup></li>
    <ul class="sidebar-items">
        <li><a href="https://codelabs.developers.google.com/codelabs/flutter/index.html#0">构建漂亮的用户界面 - Codelab</a></li>
        <li><a href="https://docs.google.com/presentation/d/1B3p0kP6NV_XMOimRV09Ms75ymIjU5gr6GGIX74Om_DE/edit?usp=sharing">Flutter滑动的魔法</a></li>
        <li><a href="https://docs.google.com/presentation/d/1cw7A4HbvM_Abv320rVgPVGiUP2msVs7tfGbkgdrTy0I/edit?usp=sharing">架构图</a></li>
        <li><a href="https://www.youtube.com/watch?v=dkyY9WCGMi0">框架的分层设计<i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/watch?v=UUfXWzp0-DU">Flutter的渲染管道 <i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
    </ul>


</ul>
